#titlebar
  background: url(/images/folded-extension.png) repeat-x 0px 0px transparent
  width: 98%
  border-radius: 18px
  border: 2px solid #6d6d6d
  -moz-border-radius: 18px
  -webkit-border-radius: 18px
  clear: both
  #title_pre
    // thanks to Tim Burt for the folded unicorn
    background: url(/images/folded-unicorn.png) no-repeat
    float: left
    width: 158px
    height: 150px
    border-radius: 18px
    -moz-border-radius: 18px
    -webkit-border-radius: 18px
    font-size: 0px
  #title
    a
      float: left
      padding: 1em
      text-decoration: none
      font-size: 2em
      color: white
      &:hover
        text-decoration: underline
  #search
    margin: .5em
    float: right
    ul
      list-style: none
  #actions
    float: right
    ul
      list-style: none
      li
        display: inline
        padding-left: .5em
        padding-right: .5em
        padding-top: .25em
        padding-bottom: .25em
        margin: .25em
        background: #6d6d6d
        border: 1px solid black
        border-radius: 8px
        -moz-border-radius: 8px
        -webkit-border-radius: 8px
        &:hover
          background: white
          a
            color: #6d6d6d
        a
          color: white
          text-decoration: none

#title_separator
  clear: both

#insides
  width: 98%
  border-radius: 18px
  -moz-border-radius: 18px
  -webkit-border-radius: 18px
  background: white

#table-of-contents
  overflow: hidden
  padding: .5em
  border-radius: 8px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  h2
    margin: 0
  ul
    list-style: none
    li
      background: #1e0601
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
      margin: .25em
      padding: .5em
      float: left
      a
        color: white
        text-decoration: none
        &:hover
          text-decoration: underline
      ul
        li
          float: none
          margin: 0
          padding: 0

#outline-container-1
  clear: both

#sidebar
  float: right
  width: 12em
  font-size: 9pt
  margin: .5em
  label
    font-weight: bold
  div
    border: 2px solid #6d6d6d
    padding: .5em
    margin-top: 1em
    background: #1e0601
    color: white
    border-radius: 8px
    -moz-border-radius: 8px
    -webkit-border-radius: 8px
  ul
    list-style: circle
    li
      color: white
      &:hover
        list-style: disc
      a
        color: white
        text-decoration: none

#contents
  padding: .5em

#comments
  list-style: none

#comments ul
  list-style: none

#comments label
  font-weight: bold

#new_comment
  label
    display: block
    &:hover
      text-decoration: underline

#creation_form
  label
    display: block
